Non-standard OnPing default handler

The BuiltinEventHandler's OnPing currently does the following:
```go
func (b BuiltinEventHandler) OnPing(socket *Conn, payload []byte) { _ = socket.WritePong(nil) }
```
instead of 
```go
func (b BuiltinEventHandler) OnPing(socket *Conn, payload []byte) { _ = socket.WritePong(payload) }
```

This works fine for pings with empty payloads but it is non-compliant otherwise.
RFC 6455 §5.5.3 (https://www.rfc-editor.org/rfc/rfc6455#section-5.5.3) requires a pong sent in response to a ping to contain identical application data.

The obvious fix is to just write the payload with the pong message. The Authobahn test server and client override OnPing and correctly include the payload, so the built-in implementation is not exercised in those tests.

fixed